html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}
  
body {
    background: #4396e9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

table {
    background-color: white;
    border-spacing: 0;
    border-radius: 4px;
    overflow: hidden;
}

tr:nth-child(odd) {
    background-color: #ebebeb;
}

td,
th {
    border: 0px solid #c1c3d0;
    width: 220px;
    padding: 15px;
    color: #696969;
}

th {
    background-color: #1b1e24;
    border-bottom-width: 2px;
    color: #eee;
    text-align: left;
    font-weight: 200;
    font-size: 16px;
}

th:first-child,
td:first-child {
    border-right-width: 1px;
    width: 180px;
}

tr:not(:last-child) td {
    border-bottom-width: 1px;
}

td[data-currency="$"]::before {
    content: "$";
    margin-right: 5px;
}